<template>
  <div class="Item">
    <img :src="imgUrl" alt="" class="item-img" />
    <div class="item-content">
      <h2>{{ title }}</h2>
      <p>{{ company }}</p>
    </div>
    <ArrowRight></ArrowRight>
  </div>
</template>

<script>
import ArrowRight from "@/components/Particles/ArrowRight.vue";

export default {
  name: "Item",
  props: {
    imgUrl: String,
    title: String,
    company: String
  },
  components: {
    ArrowRight
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap");
.Item {
  width: 100%;
  height: auto;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #e5e5e5;
  .item-img {
    width: 20%;
    margin-left: 8px;
  }

  .item-content {
    padding-left: 8px;
    padding-right: 8px;

    h2 {
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #1f204d;
    }
    p {
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #484848;
    }
  }
}
</style>
