<template>
  <div class="wrapper-logo-list-detail">
    <img :src="srcImage" class="logo" alt="" />
  </div>
</template>

<script>
export default {
  name: "ListImgDetail",
  props: {
    srcImage: String
  }
};
</script>

<style lang="scss" scoped>
.wrapper-logo-list-detail {
  flex: 1;
  .logo {
    width: 100%;
  }
}
</style>
