<template>
  <div class="content-wrapper">
    <div class="loader-container" v-if="!isContent">
      <ListContentLoader></ListContentLoader>
      <ListContentLoader></ListContentLoader>
      <ListContentLoader></ListContentLoader>
      <ListContentLoader></ListContentLoader>
      <ListContentLoader></ListContentLoader>
    </div>
    
    <Item
      v-for="(service, index) in service.Services"
      :key="index"
      :img-url="service.image"
      :title="service.brandTitle"
      :company="service.companyName"
      @click.native="detail(service.id)"
      v-else
    >
    </Item>
  </div>
</template>

<script>

import Item from "@/components/List/Item.vue";
import ListContentLoader from '@/components/Particles/ListContentLoader.vue'
import { mapState } from 'vuex'
import { setTimeout } from 'timers';

export default {
  name: "List",
  components: {
    Item,
    ListContentLoader
  },
  data(){
    return {
      count: 5,
      isContent: false
    }
  },
  methods: {
    detail: function(serviceId) {
      this.$router.push({ name: "listDetail", params: { itemId: serviceId } });
    }
  },
  computed: {
    ...mapState(['service'])
  },
  mounted(){
    setTimeout(() => {
      this.isContent = true;
    }, 1000)
  }
};
</script>

<style lang="scss" scoped>
.content-wrapper {
  flex: 1 0 auto;
}
</style>
