<template>
  <div class="list-detail-wrapper">
    <div>
      <div
        class="box-wrapper"
        v-for="(result, index) in filterList"
        :key="index"
      >
        <div class="box-hero">
          <h1 class="brandTitle">{{ result.brandTitle }}</h1>
          <p class="description">{{ result.desc }}</p>
        </div>
        <ListImgDetail :srcImage="result.image"></ListImgDetail>
      </div>
    </div>

    <div class="input-wrapper">
      <input
        type="text"
        v-model="phoneNumber"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        placeholder="Masukan kode pelanggan"
        class="input-single-field"
      />
    </div>
    <!-- <p>{{ res.data.data.subscriberName }}</p> -->
    <!-- <p>{{ service.inquiry.data.subscriberId }}</p> -->
    <!-- <footerLayout @click.native="purchase(listId)" v-bind:class="{ disabled: isDisabled }" textbutton="Cek Pembayaran"></footerLayout> -->
    <footerLayout @click.native="fetchInquiry" v-bind:class="{ disabled: isDisabled }" textbutton="Cek Pembayaran"></footerLayout>
  </div>
</template>

<script>
import ListImgDetail from "@/components/List/ListImgDetail.vue";
import footerLayout from "@/components/Layouts/footer.vue";
import axios from "axios";
import { mapState } from 'vuex';
// import WebtelkomService from "@/services/api-services/webtelkomService.js"

export default {
  name: "listDetail",
  components: {
    ListImgDetail,
    footerLayout
  },
  data() {
    return {
      listId: this.$route.params.itemId,
      title: "listDetail",
      customerCode: "",
      subscriberDefault: "",
      results: [],
      subscriberId: '',
      isDisabled: true,
      res: ''
    };
  },
  computed: {
    phoneNumber: {
      get: function() {
        if(this.customerCode.length >= 8){
          this.isDisabled = false
        }else{
          this.isDisabled = true
        }
        return this.customerCode;
      },
      set: function(phone) {
        
        phone = phone.replace(/[^\d]/g, "");
        this.subscriberDefault = phone

        if (phone.length >= 8 ) {
          return (this.customerCode = phone.replace(
            /(\d{4})(\d{4})/,
            "$1-$2"
          ));
        }

      }
    },
    filterList: function() {
      let vm = this;
      let id = vm.listId;
      let result = vm.results;
      return this.service.Services.filter(function(service) {
        if (service.id == id) {
          return (result = service);
        }
      });
    },
    checking: function(){
      
    },
    ...mapState(['service'])
  },
  methods: {
    
    fetchInquiry(){
      let payload = { 
        billerCode:"PAMSMG",
        customerReference:"12420207",
        description:null,
        productCode:"PAMSMG",
        productPrice:0,
        productType:3
      }
      this.$store.dispatch('fetchInquiry', payload).then(() => {
        let id = this.service.inquiry.data.subscriberId
        let subId = this.subscriberDefault 
        console.log(id+"==="+subId)
        if(id == subId){
          this.$router.push({
            name: 'purchase',
            params: {serviceId: this.listId}
          })
        }else{
          let err = 'Something error!'
          console.log(err)
          this.$notify({
            group: 'errors',
            type: 'error',
            title: 'Notification',
            text: 'Mohon maaf transaksi tidak dapat dilakukan. Ulangi beberapa saat lagi.'
          });
          return err
        }
        
          
      })
    }
    
  }
};
</script>

<style lang="scss" scoped>
.list-detail-wrapper {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  width: 90%;
  margin: auto;
  border-radius: 6px;
  margin-top: 25px;
  box-sizing: border-box;

  .disabled{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  .box-wrapper {
    padding: 14px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;

    .box-hero {
      flex: 2;

      .brandTitle {
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
        color: #1f204d;
      }

      .description {
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #484848;
      }
    }
  }

  .input-wrapper {
    padding: 14px;

    .input-single-field {
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 8px 12px 8px 12px;
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #828282;
      box-sizing: border-box;
      width: 100%;
    }
  }
}
</style>
