<template>
    <div class="list-detail-wrapper">
    <div>
      <div class="box-wrapper">
        <div class="box-hero" v-for="(data, index) in puchaseFilter" :key="index">
          <div class="img-hero">
              <img :src="data.image" alt="">
          </div>
          <div class="desc">
              <h1 class="brandTitle">Pihak Penagih</h1>
              <p class="description">{{ data.companyName }}</p>
              <img src="/img/icons/ic_info.jpg" alt="" class="info_icon">
          </div>
        </div>
        <div class="customer-footer">
          <div class="desc">
              <h1 class="customerId">ID Pelanggan / Nama Pelanggan</h1>
              <p class="customerName">{{ service.inquiry.data.subscriberId }} / {{ service.inquiry.data.subscriberName }} </p>
          </div>
        </div>
      </div>
    </div>
    <footerLayout textbutton="Bayar Sekarang" @click.native="sendToNative"></footerLayout>
  </div>
</template>

<script>
import footerLayout from "@/components/Layouts/footer.vue";
import { mapState } from 'vuex';
export default {
    components: {
        footerLayout
    },
    data(){
      return {
        purchaseId: this.$route.params.serviceId,
        Services: [
        {
          id: 1,
          image:
            "https://sdk-mobile-telkom-air.s3-ap-southeast-1.amazonaws.com/image_aetra_xxx.png",
          brandTitle: "Aetra",
          companyName: "PT Aetra Air Jakarta",
          desc:
            "Tagihan Perusahaan Listrik Negara berlaku untuk seluruh wilayah Indonesia"
        },
        {
          id: 2,
          image:
            "https://sdk-mobile-telkom-air.s3-ap-southeast-1.amazonaws.com/image_palyja_xxx.png",
          brandTitle: "Palyja",
          companyName: "PT PAM Lyonnaise Jaya",
          desc:
            "Tagihan Perusahaan Listrik Negara berlaku untuk seluruh wilayah Indonesia"
        },
        {
          id: 3,
          image:
            "https://sdk-mobile-telkom-air.s3-ap-southeast-1.amazonaws.com/image_pam_xxx.png",
          brandTitle: "PAM Jaya",
          companyName: "PT PAM Lyonnaise Jaya",
          desc:
            "Tagihan Perusahaan Listrik Negara berlaku untuk seluruh wilayah Indonesia"
        },
        {
          id: 4,
          image:
            "https://sdk-mobile-telkom-air.s3-ap-southeast-1.amazonaws.com/image_pln_xxx.png",
          brandTitle: "PLN",
          companyName: "PLN Prabayar",
          desc:
            "Tagihan Perusahaan Listrik Negara berlaku untuk seluruh wilayah Indonesia"
        },
        {
          id: 5,
          image:
            "https://sdk-mobile-telkom-air.s3-ap-southeast-1.amazonaws.com/image_telko_xxx.png",
          brandTitle: "Telkom",
          companyName: "PT Telekomunikasi Indonesia",
          desc:
            "Tagihan Perusahaan Listrik Negara berlaku untuk seluruh wilayah Indonesia"
        }
      ]
      }
    },
    computed: {
      puchaseFilter: function() {
        let vm = this;
        let id = vm.purchaseId;
        let result = vm.results;
        return vm.Services.filter(function(service) {
          if (service.id == id) {
            return service
          }
        });
      },
      ...mapState(['service'])
    },
    methods: {
      sendToNative: function(){

        let inquiryId = this.service.inquiry.data.inquiryId
        let transactionAmount = this.service.inquiry.data.transactionAmount
        let subscriberName = this.service.inquiry.data.subscriberName
        let subscriberId = this.service.inquiry.data.subscriberId
        let adminFee = this.service.inquiry.data.adminFee
        let originalPrice = this.service.inquiry.data.originalPrice
        let payAmount = this.service.inquiry.data.payAmount
        
        window.androidObj.sendDataToAndroid(inquiryId, transactionAmount, subscriberName, subscriberId, adminFee, originalPrice, payAmount)
      }
    }
}
</script>

<style lang="scss" scoped>
.list-detail-wrapper {
  border: 1px solid #e5e5e5;
  width: 90%;
  margin: auto;
  border-radius: 6px;
  margin-top: 25px;
  box-sizing: border-box;

  .box-wrapper {
    .box-hero {
     display: flex;
     align-items: center;
     border-bottom: 1px solid #e5e5e5;

     .img-hero{
         flex: 1;
         text-align: center;
         border-right: 1px solid #e5e5e5;
         padding: 2px;
         img{
             position: relative;
             top: 4px;
             width: 80%;
         }
      } 

      .desc{
          flex: 4;
          padding-left: 8px;
          padding-right: 8px;
          position: relative;

          .brandTitle {
                font-family: "Barlow", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #1f204d;
            }

            .description {
                font-family: "Barlow", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #484848;
            }

            .info_icon {
                position: absolute;
                right: 5%;
                top: 10%;
                width: 1em;
            }
      }

      
    }

    .customer-footer{

        .desc{
            padding: 8px;

            .customerId{
                font-family: "Barlow", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #1F204D;    
            }

            .customerName{
                font-family: "Barlow", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #484848;
            }
        }
    }
  }

}
</style>
