<template>
  <div id="footerLayout">
    <div class="check-btn-wrapper">
      <p>{{ textbutton }}</p>
    </div>
  </div>
</template>

<script>

export default {
  name: "footerLayout",
  props: ['textbutton']
};
</script>

<style lang="scss" scoped>
#footerLayout {
  flex-shrink: 0;
  background-color: #1a1c40;
  padding: 8px 14px 8px 14px;
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;

  .check-btn-wrapper {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
  }
}
</style>
