<template>
  <div class="header-wrapper">
    <div class="arrow-icon" @click="$router.go(-1)">
      <img src="img/icons/arrow-header.png" alt="" />
    </div>
    <div class="title-header">
      <h2>{{ titleHeader }}</h2>
    </div>
    <div class="action-more">
      <img src="img/icons/ic_more.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: "headerLayout",
  props: {
    titleHeader: String
  }
};
</script>

<style lang="scss" scoped>
.header-wrapper {
  background: #1a1c40;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 18px 8px 18px 8px;

  .arrow-icon {
    img {
      width: 45%;
      position: relative;
      top: 2px;
    }
  }

  .title-header {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 0px;
    text-align: center;
    color: #ffffff;
  }

  .action-more {
    img {
      width: 65%;
      position: relative;
      top: 2px;
    }
  }
}
</style>
