<template>
  <div class="arrow-wrapper">
    <img src="/img/icons/arrow-right.png" alt="" class="arrow-right-icon" />
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.arrow-wrapper {
  .arrow-right-icon {
    width: 15px;
    position: absolute;
    right: 5%;
    top: 45%;
  }
}
</style>
