<template>
  <div class="check-btn-wrapper">
    <p>{{ textButton }}</p>
  </div>
</template>

<script>
export default {
  name: "btnPayment",
  props: {
    textButton: String
  }
};
</script>

<style lang="scss" scoped>

</style>
