<template>
    <content-loader
		:height="80"
		:width="400"
		:speed="2"
		primaryColor="#f3f3f3"
		secondaryColor="#ecebeb"
	>
		<rect x="105" y="25" rx="4" ry="2" width="117" height="15" /> 
		<rect x="105" y="52" rx="3" ry="2" width="85" height="15" /> 
		<rect x="20" y="20" rx="4" ry="4" width="64.77" height="61" /> 
		<rect x="347.23" y="20" rx="0" ry="0" width="15" height="15" />
	</content-loader>
</template>

<script>
import { ContentLoader } from 'vue-content-loader'

export default {
    components: {
        ContentLoader
    }
}
</script>

<style>

</style>
