<template>
  <div id="app">
    <notifications group="errors" position="top center" classes="notify-error"/>
    <!-- <headerLayout :title-header="title"></headerLayout> -->
    <transition name="component-fade" mode="out-in">
      <router-view />
    </transition>
    <!-- <footerLayout v-bind:is="homePage"></footerLayout> -->
   
  </div>
</template>

<script>
import headerLayout from "@/components/Layouts/header.vue";


export default {
  components: {
    headerLayout
  },
  data: function() {
    return {
      title: "Telkom, Listrik dan Air",
      isVisible: false
    };
  },
  methods: {
    homePage() {
      if (this.$route.path("/")) {
        this.isVisible = false;
      } else {
        this.isVisible = true;
      }
    }
  }
};
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
}
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}
.component-fade-enter, .component-fade-leave-to{
  opacity: 0;
}

.notify-error {
  // Style of the notification itself
    background-color: #F7D1D5 !important;
    margin-top: 20px;
    border-radius: 4px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.98;

  .notification-title {
    // Style for title line
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #E86975;
  }

  .notification-content {
    // Style for content
        font-family: "Barlow", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #FE828D;
  }

  &.my-type {
    /*
    Style for specific type of notification, will be applied when you
    call notification with "type" parameter:
    this.$notify({ type: 'my-type', message: 'Foo' })
    */
  }
}
</style>
